* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
}
.main_container {
  /* border: 2px solid blue; */
  border-radius: 10px;
  height: 600px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
  color: white;
  background: linear-gradient(135deg, rgb(0, 254, 186), rgb(91, 84, 138));
}
.search_bar {
  /* border: 2px solid red; */
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
input {
  height: 50px;
  width: 300px;
  border: none;
  font-size: 15px;
  padding-left: 20px;
  border-radius: 50px;
  background-color: white;
}
#get_weather {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
  font-size: 18px;
  color: gray;
  background-color: white;
  cursor: pointer;
}
#weather_container{
  /* border: 2px solid black; */
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: none;
}
.weather_container1 {
  /* border: 2px solid crimson; */
  height: 80%;
  width: 100%;
  display: none;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  /* gap: 20px; */
}
.temprature {
  font-size: 40px;
  padding-left: 20px;
}
.city_name {
  font-size: 40px;
}

.weather_container2 {
  /* border: 2px solid red; */
  /* display: none; */
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.humidity {
  /* border: 2px solid red; */
  height: 100%;
  width: 35%;
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.humidity_contents {
  /* border: 2px solid red; */
  font-size: 30px;
}
.humidity_img {
  /* display: none; */
  height: 50px;
  width: 50px;
}
.wind {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.wind_img {
  height: 55px;
  width: 55px;
}
.wind_contents {
  /* border: 2px solid red; */
  font-size: 23px;
}
#cloud_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
